<head>
  <link rel="stylesheet" href="/styles.css" />
</head>

<header>
  <h1><%= title %></h1>
</header>

<main>
  <h2>Messages</h2>
  <ul class="messages">
    <% messages.map(message => { %>
    <article class="message-container">
      <h3><%= message.text %></h3>
      <p><%= message.username %></p>
      <p class="date"><small><%= message.added_date_time %></small></p>

      <a href=<%= `/messages/${message.id}` %> aria-label="Open message">
        <button type="button" class="open-message">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-external-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
        </button>
      </a>
    </article>
    <% }) %>
  </ul>
</main>

<footer>
  <a href="/new"><button type="button">Add new message</button></a>
</footer>